
@font-face {
  font-family: Inter;
  src: url("assets/fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: Merriweather;
  src: url("assets/fonts/Merriweather-Regular.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Merriweather-Bold;
  src: url("assets/fonts/Merriweather-Bold.ttf");
  font-weight: 300;
}
html {
  scroll-behavior: smooth; 
}

body {
  margin: 0 auto;
  background-color: rgb(0, 0, 0);
}

.container{
  max-width: 1440px;
  margin: 0 auto;
  display: block
}

.header-container {
  background-image: url('./assets/img/bg.jpg');
  background-repeat: no-repeat;
  background-position: center 0;
  margin:0 auto;
  height: 90px;
}

.hero-container {
  background-image: url('./assets/img/bg.jpg');
  background-position: center -90px;
  background-repeat: no-repeat;
  margin: 0 auto;

}
.container-menu {
  display: flex;
  height: 90px;
  margin: 0 auto;
}

.menu-left {
  margin: 0 auto;
  display: flex;
  width: 50px;
  height: 50px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;

}

.logo {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s;
}



.menu-right {
  width: 439px;
  height: 50px;
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  display: flex;
  padding-left: 30px;
  justify-content: space-between;
  align-items: center;
  margin-left: 780px;
  margin-top: 20px;
  margin-bottom: 20px;
  list-style: none;
  padding-right: 31px;
  color: #ffffff;
  cursor: pointer;


}

a{
  text-decoration:none;
  color: #ffffff;
  transition: 0.3s;
}
a:hover{
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);

}

.menu-lang {
  width: 70px;
  height: 50px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
margin-right: 20px;
}

.btn-en {
  width: 25px;
  height: 50px;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;
  background-color: transparent;
  border: 0;
  color: #BDAE82;
  font-size: 20px;
  font-family: Inter;
  font-weight: 700;
  cursor: pointer;
}

.btn-en:hover{
  color: #BDAE82;
}

.p-lang {
  width: 8px;
  height: 50px;
  color: #ffffff;
  font-size: 20px;
  font-family: Inter;
  font-weight: 700;
  padding-left: 9px;
  padding-right: 8px;

}

.btn-ru {
  width: 22px;
  height: 50px;
  background-color: transparent;
  border: 0;
  color: #ffffff;
  font-size: 20px;
  font-family: Inter;
  font-weight: 700;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;
  cursor: pointer;
  transition: 0.3s;

}

.btn-ru:hover{
  color: #BDAE82;
}

 .hero-section{
  margin: 0 auto;
  height: 660px;
  padding-top: 160px;
  padding-left: 80px;
  padding-right: 860px;
 }

h1 {
  width: 500px;
  height: 120px;
  color: #ffffff;
  font-size: 60px;
  font-family: Merriweather-Bold;
  font-weight: 700;
  text-align: left;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.hero-text {
  display: block;
  width: 470px;
  height: 120px;
  color: #ffffff;
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  margin: 0 auto;
  margin-top: 10px;
  line-height: 40px;
  margin-right: 30px;
}
.btn {
  margin: 0 auto;
  width: 220px;
  height: 55px;
  background-color: #BDAE82;
  color: #000000;
  font-family: Inter;
  font-size: 20px;
  text-align: center;
  padding: 0;
  cursor: pointer;
  transition: 0.3s;

}
.btn:hover{
  color: #ffffff;
}
.hero-btn {
  margin: 0 auto;
  margin-top: 25px;
  margin-right: 280px;
}


.skills-container {
  margin: 0 auto;
 height: 482px;
 
}

.skills-section{
  width: 1440px;
  height: 482px;
  display: block
}

.title-container{
  margin: 0 auto;
overflow-x: hidden;
padding-top: 100px;
}
.line {
position: relative;
width: 700px;
height: 80px;
margin-left: 370px;
margin-right: 370px;

}
.line::before{
  content: "";
  position: absolute;
  top: 39px;
  left: 426px;
  width: 39%;
  height: 2px;
  background-color:#BDAE82
}
.line::after{
  content: "";
  position: absolute;
  width: 39.1%;
  height: 2px;
  right: 427px;
bottom: 39px;;
  background-color:#BDAE82;
}
.section-title {
  margin: 0 auto;
  color: #BDAE82;
  font-size: 40px;
  font-family: Merriweather-Bold;
  text-align: center;
  width: 152px;
}

.cards-conteiner{
height: 242px;
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: 20px;
}
h3{
  margin: 0 ;
  font-family: Inter;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  padding-top: 50px;
  width: 280px;
  height: 40px;
  padding-left: 20px;
  line-height: 38px;

}

.text-card{
  margin: 0;
  color: #ffffff;
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  width:280px;
  height: 72px;
  line-height: 36px;
padding-left: 20px;
padding-top: 20px;
padding-right: 20px;
}
.logo1-skills{
  width:auto;
  height: auto;
  padding-left: 129px;
  
}
.logo2-skills{
  width:auto;
  height: auto;
  padding-left: 130px;

}
.logo3-skills{
  width:auto;
  height: auto;
  padding-left: 127px;

}
.logo4-skills{
  width:auto;
  height: auto;
  padding-left: 144px;
padding-right: 144px;
}

.card-1{
  width: 320px;
  height: 240px;
}

.card-2{
  width: 320px;
  height: 240px;
margin-left: 40px;
}

.card-3{
  width: 320px;
  height: 240px;
  margin-left: 40px;

}
.card-4{
  width: 320px;
  height: 240px;
  margin-left: 40px;

}

.section-title-portfolio{

  margin: 0 auto;
  color: #BDAE82;
  font-size: 40px;
  font-family: Merriweather-Bold;
  text-align: center;
  width: 220px;
}

.porportfolio-section{
  height: 1500px;
  margin: 0 auto;
  padding: 0 20px;
}

.line-portfolio {
  position: relative;
  width: 700px;
  height: 80px;
  margin-left: 370px;
  margin-right: 370px;
  }
  .line-portfolio::before{
    content: "";
    position: absolute;
    top: 39px;
    left: 460px;
    width: 34%;
    height: 2px;
    background-color:#BDAE82
  }
  .line-portfolio::after{
    content: "";
    position: absolute;
    width: 34%;
    height: 2px;
    right: 463px;
  bottom: 39px;;
    background-color:#BDAE82;
  }
 
  .btn-portfolio{
width: 220px;
height: 55px;
background-color:#000000;
cursor: pointer;
font-family: Inter;
color: #BDAE82;
font-size: 20px;
border: 2px solid #BDAE82;
padding-left: 5px;
line-height: 40px;
text-align: center;
font-weight: 400;
transition: 0.3s;


  }

  .btn-portfolio:hover{
    color: #ffffff;
  }

  .activ-btn-portfolio{
    width: 220px;
height: 55px;
background-color:#BDAE82;
font-size: 20px;
padding-left: 5px;
text-align: center;
line-height: 40px;
cursor: pointer;
font-family: Inter;
color: #000000;
font-weight: 400;
border: 2px solid #BDAE82;


  }

  .box-btn{
margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 895px;
    height: 55px;
    padding-left: 272px;
    padding-top: 60px;
    padding-right: 273px;

  }
.box-foto{
margin: 0 auto;
 margin-top: 60px;
 display: flex;
 flex-wrap: wrap;
 align-content: space-between;
 width: 1400px;
 gap: 25px;

}

.video-section{
  height: 945px;
  
}

.section-title-video{
  margin: 0 auto;
  color: #BDAE82;
  font-size: 40px;
  font-family: Merriweather-Bold;
  text-align: center;
  width: 154px;
}

  .video-player{
  padding-top: 60px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.video-btn{
position: absolute;
background-color: transparent;
cursor: pointer;
border: 0;
display: block;
padding: 0;
transition: 0.3s;

}

.video-btn:hover{
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
  
}

.price-section{
  width:1440px;
  height: 845px;
}

.line-price{
  position: relative;
  width: 700px;
  height: 80px;
  margin-left: 370px;
  margin-right: 370px;
}
  .line-price::before{
    content: "";
    position: absolute;
    top: 39px;
    left: 420px;
    width: 40%;
    height: 2px;
    background-color:#BDAE82
  }
  .line-price::after{
    content: "";
    position: absolute;
    width: 40%;
    height: 2px;
    right: 420px;
  bottom: 39px;
    background-color:#BDAE82;
  }
  .section-title-price {
    margin: 0 auto;
    color: #BDAE82;
    font-size: 40px;
    font-family: Merriweather-Bold;
    text-align: center;
    width: 102px;
    
  }

 .cards-price{
   width:1400px;
   height: 505px;
   display: flex;
  justify-content: space-between;
  align-items:center;
  margin-top: 60px;
  margin-left: 20px;
  margin-right: 20px;
  box-sizing: border-box;



 }
 .card-price1{
width:450px;
height: 505px;
border: 1px solid #BDAE82;
  align-items: center;
  margin-right: 25px;
  box-sizing: border-box;

 }
 .card-price2{
  width:450px;
  height: 505px;
  border: 1px solid #BDAE82;
    align-items: center;
    margin-right: 25px;
  box-sizing: border-box;

   }
   .card-price3{
    width:450px;
    height: 505px;
    border: 1px solid #BDAE82;
      align-items: center;
  box-sizing: border-box;

     }

 .h4-price{
  color: #ffffff;
  font-size: 28px;
  font-family: Merriweather-Bold;
  font-weight: 700;
  line-height: 56px;
  text-align: center;
  margin-top: 43px;
width:128px;
height: 56px;
margin-left: 161px;
margin-right: 161px;
margin-bottom: 0;


 }
 
 .value{
   width: 69px;
   height: 48px;
  color: #BDAE82;
  font-size: 24px;
  font-family: Merriweather-Bold;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  margin-top: 20px;
margin-left: 191px;
margin-right: 190px;
 }

 .text-price{
   width:364px;
   height: 180px;
  color: #ffffff;
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  line-height: 36px;
  margin-top: 20px;
  margin-left: 43.33px;
  margin-right: 42.67px;
  
 }
 .string-price{
  display: block;
 }
 .box-btn-price{
   margin-top: 40px;
   margin-left: 115px;
   margin-right: 115px;
   margin-bottom: 43px;
 }
.text-price2{
  width:364px;
  height: 180px;
  color: #ffffff;
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  line-height: 36px;
  margin-top: 20px;
  margin-left: 42.98px;
  margin-right: 43.02px;

}

.h4-price2{
  color: #ffffff;
  font-size: 28px;
  font-family: Merriweather-Bold;
  font-weight: 700;
  text-align: center;
  line-height: 56px;
  text-align: center;
  margin-top: 43px;
width:132px;
height: 56px;
margin-left: 159px;
margin-right: 159px;
margin-bottom: 0;

}

.value2{
  width: 68px;
  height: 48px;
 color: #BDAE82;
 font-size: 24px;
 font-family: Merriweather-Bold;
 font-weight: 700;
 line-height: 48px;
 text-align: center;
 margin-top: 20px;
margin-left: 191px;
margin-right: 191px;
}

.h4-price3{
  color: #ffffff;
  font-size: 28px;
  font-family: Merriweather-Bold;
  font-weight: 700;
  text-align: center;
  line-height: 56px;
  text-align: center;
  margin-top: 43px;
width:67px;
height: 56px;
margin-left: 192px;
margin-right: 191px;
margin-bottom: 0;

}

.value3{
   width: 81px;
   height: 48px;
  color: #BDAE82;
  font-size: 24px;
  font-family: Merriweather-Bold;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  margin-top: 20px;
margin-left: 184px;
margin-right: 185px;
 }

 .text-price3{
  width:364px;
  height: 180px;
  color: #ffffff;
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  line-height: 36px;
  margin-top: 20px;
  margin-left: 42.64px;
  margin-right: 43.36px;

 }

 .contacts-container {
  background: url('./assets/img/contacts.jpg');
  background-size: auto 700px;
  background-position: center center;
  margin:0 auto;
  height: 700px;
  
 }
h2{
  color: #BDAE82;
  font-family: Merriweather-Bold;
  font-weight: 700;
  font-size: 40px;
  text-align:end;
  line-height: 80px;
 text-align:start ;
  margin: 0 auto;
  
}

.contacts{
  margin: 0 auto;
  width:450px;
  padding-bottom: 40px;
  padding-top: 60px;

}

 .contacts-section{
  margin: 0 auto;
   width: 450px;
   height: 445px;
   display: block;
  margin-left: auto;
   margin-right: 20px;
color: #BDAE82;
box-sizing: border-box;


 }
 ::placeholder {
  font-family: inherit;
  color: #BDAE82;
  font-size: 20px;
  
}


 input{
  margin: 0 auto;
  width: 450px;
font-family: Inter;
line-height: 40px;
font-weight: 400;
font-size: 20px;
color: #BDAE82;
border: 2px solid #BDAE82;
   box-sizing: border-box;
   padding: 0 auto;
   padding-top: 5px;
   padding-left: 20px;
   margin-bottom: 20px;
   background: rgba(0, 0, 0, 0.5);


 }
 textarea{
  margin: 0 auto;
resize: none;
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 40px;
color: #BDAE82;
   width: 450px;
   height: 100px;
   background: rgba(0, 0, 0, 0.5);
padding-top: 5px;
padding-left: 20px;
box-sizing: border-box;
border: 2px solid #BDAE82;

 }

 .box-btn-contacts{
   padding-top: 30px;
width: 220px;
height: 55px;
 }

.footer{
  height:150px;
  display: flex;
  margin: 0 auto;
}

.footer-left{
  width: 182px;
  height: 50px;
margin: 0 auto;
margin-left: 20px;
margin-right: 413px;
margin-top: 50px;
}

.text-footer1{
  font-family: Inter;
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  display: inline-block;
  padding-left: 19px;
  line-height: 50px;
  width: 49px;
  height: 50px;
}
.text-footer2{
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  display: inline-block;
  padding-left: 20px;
  width: 61px;
  height: 50px;
  font-family: Inter;
}

.footer-center{
  width: 211px;
  height: 50px;
   font-family: Inter;
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  margin: 0 auto;
  margin-left: 0;
  line-height: 50px;
  margin-right: 406px;
  margin-top: 50px;
}

.footer-right{
  width: 188px;
  height: 50px;
margin: 0 auto;
margin-top: 50px;
margin-right: 20px;

}
.footer-menu{
   display: flex;
   justify-content: space-between; 
   align-items: center;
   margin: 0;
   padding: 0;
   margin-top: 9px;
}