/* для заголовков шрифт с засечками Merriweather, bold font-weight: 700 */
/* для основного текста страницы шрифт без засечек Inter, regular font-weight: 400 и bold font-weight: 700. */

@font-face {
  font-family: Inter;
  src: url("assets/fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: Merriweather;
  src: url("assets/fonts/Merriweather-Regular.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Merriweather-Bold;
  src: url("assets/fonts/Merriweather-Bold.ttf");
  font-weight: 300;
}

body {
  margin: 0 auto;
  background-color: rgb(0, 0, 0);
}

.container{
  max-width: 1440px;
  margin: 0 auto;
  display: block
}

.header-container {
  background-image: url(assets/img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
  margin:0 auto;
  height: 90px;
}

.hero-container {
  background-image: url('./assets/img/bg.jpg');
  background-position: center -90px;
  background-repeat: no-repeat;
  margin: 0 auto;

}

/* Для <header> не используйте позиционирование fixed и sticky, так как это затруднит проверку макета, старайтесь не использовать позиционирование absolute */
.container-menu {
  display: flex;
  height: 90px;
  margin: 0 auto;
}

.menu-left {
  margin: 0 auto;
  display: flex;
  width: 50px;
  height: 50px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;

}

.logo {
  width: auto;
  height: auto;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s;
}

.logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.menu-right {
  width: 439px;
  height: 50px;
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  color: #ffff;
  display: flex;
  padding-left: 810px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  list-style: none;
  padding-top: 20px;
  padding-bottom: 20px;

}

.menu-lang {
  width: 70px;
  height: 50px;
  color: #ffff;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding-right: 20px;
  padding-left: 31px;
  align-items: center;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;


}

.button-en {
  width: 25px;
  height: 50px;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;
  background-color: transparent;
  border: 0;
  color: #bdae82;
  font-size: 20px;
  font-family: Inter;
  font-weight: 700;
  cursor: pointer;
}

.p-lang {
  width: 8px;
  height: 50px;
  color: #ffff;
  font-size: 20px;
  font-family: Inter;
  font-weight: 700;
  padding-left: 9px;
  padding-right: 8px;

}

.button-ru {
  width: 22px;
  height: 50px;
  background-color: transparent;
  border: 0;
  color: #ffff;
  font-size: 20px;
  font-family: Inter;
  font-weight: 700;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;
  cursor: pointer;

}
 .hero-section{
  margin: 0 auto;
  height: 660px;
  padding-top: 160px;
  padding-left: 80px;
 }

h1 {
  color: #ffff;
  font-size: 60px;
  font-family: Merriweather-Bold;
  font-weight: 700;
  text-align: left;
  margin: 0 auto;
  height: 120px;
  display: flex;
  align-items: center;
}

.hero-text {
  height: 120px;
  color: #ffff;
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  padding-bottom: 80px;
  margin: 0 auto;
  padding-top: 10px;
  line-height: 40px;
  padding-right: 30px;
}
/* сайте другой размер */
.hero-button {
  margin: 0 auto;
  width: 220px;
  height: 55px;
  background-color: #bdae82;
  font-family: Inter;
  font-size: 20px;
  border: 0;
  text-align: center;
  padding: 0;
  cursor: pointer;
}

.hero-form {
  margin: 0 auto;
  padding-top: 25px;
}

.skills-container {
  margin: 0 auto;
 height: 482px;
 
}

.skills-section{
  width: 1440px;
  height: 482px;
  display: block
}

.title-container{
  margin: 0 auto;
line-height: 80px;
overflow-x: hidden;
padding-top: 100px;
}
.h2-line {
position: relative;

}
.h2-line::before{
  content: "";
  position: absolute;
  top: 39px;
  left: 370px;
  width: 19%;
  height: 2px;
  background-color:#BDAE82
}
.h2-line::after{
  content: "";
  position: absolute;
  width: 19%;
  height: 2px;
  right: 370px;
bottom: 39px;;
  background-color:#BDAE82;
}
.section-title {
  margin: 0 auto;
  color: #BDAE82;
  font-size: 40px;
  font-family: Merriweather-Bold;
  text-align: center;
}


.cards-conteiner{
height: 242px;
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
}

h3{
  margin: 0 ;
  font-family: Inter;
  font-weight: 700;
  font-size: 20px;
  color: #ffff;
  text-align: center;
  padding-top: 50px;
  width: 280px;
  height: 40px;
  padding-left: 20px;
line-height: 40px;
}
/* line-height */

.text-card{
  margin: 0;
  color: #ffff;
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  width:280px;
  height: 72px;
  line-height: 35px;
padding-left: 20px;
padding-top: 20px;
}


.logo1-skills{
  width:auto;
  height: auto;
  padding-left: 129px;
  
}
.logo2-skills{
  width:auto;
  height: auto;
  padding-left: 130px;

}
.logo3-skills{
  width:auto;
  height: auto;
  padding-left: 127px;

}
.logo4-skills{
  width:auto;
  height: auto;
  padding-left: 144px;

}

.card-1{
  width: 320px;
  height: 240px;
padding-left: 20px;
}

.card-2{
  width: 320px;
  height: 240px;
padding-left: 40px;
}

.card-3{
  width: 320px;
  height: 240px;
  padding-left: 40px;

}
.card-4{
  width: 320px;
  height: 240px;
  padding-left: 40px;
  padding-right: 20px;

}

.porportfolio-section{
  height: 1500px;
  width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.h2-line-portfolio {
  position: relative;
  
  }
  .h2-line-portfolio::before{
    content: "";
    position: absolute;
    top: 39px;
    left: 370px;
    width: 16.5%;
    height: 2px;
    background-color:#BDAE82
  }
  .h2-line-portfolio::after{
    content: "";
    position: absolute;
    width: 16.8%;
    height: 2px;
    right: 370px;
  bottom: 39px;;
    background-color:#BDAE82;
  }
 
  .button-portfolio{
width: 220px;
height: 55px;
background-color:#000000;
cursor: pointer;
font-family: Inter;
color: #bdae82;
font-size: 20px;
border: 2px solid #BDAE82;
padding-left: 5px;
line-height: 40px;
text-align: center;
font-weight: 400;
  }

  .gold-button-portfolio{
    width: 220px;
height: 55px;
background-color:#BDAE82;
font-size: 20px;
padding-left: 5px;
text-align: center;
line-height: 40px;
cursor: pointer;
font-family: Inter;
color: black;
font-weight: 400;
border: 2px solid #BDAE82;


  }

  .box-button{
    display: flex;
    justify-content: space-between;
    width: 895px;
    height: 55px;
    padding-left: 272px;
    padding-top: 60px;
    padding-right: 273px;
margin: 0 auto;

  }
.box-foto{
margin: 0 auto;
 padding-top: 60px;
 display: flex;
 flex-wrap: wrap;
 align-content: space-between;
 width: 1400px;
 gap: 25px;

}

.video-section{
  width: 1440px;
  height: 945px;
  
}

  .video-player{
  padding-top: 60px;
 gap: 25px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-button{
position: absolute;
background-color: transparent;
cursor: pointer;
border: 0;
display: block;
}

.price-section{
  width: 1440px;
  height: 845px;
}


.h2-line-price{
  position: relative;

}
  .h2-line-price::before{
    content: "";
    position: absolute;
    top: 40px;
    left: 370px;
    width: 19.3%;
    height: 2px;
    background-color:#BDAE82
  }
  .h2-line-price::after{
    content: "";
    position: absolute;
    width: 19.3%;
    height: 2px;
    right: 370px;
  bottom: 38px;;
    background-color:#BDAE82;
  }
  .section-title-price {
    margin: 0 auto;
    color: #BDAE82;
    font-size: 40px;
    font-family: Merriweather-Bold;
    text-align: center;
  }

 .cards-price{
   width: 1400px;
   height: 505px;
   display: flex;
  padding: 0 20px;
  justify-content: space-between;
  /* align-items: center; */


 }
 .card-price{
width:450px;
height: 505px;
margin-top: 60px;
gap:25px;
border: 2px solid #BDAE82;
  align-items: center;
 }


 

 .h4-price{
  color: #ffffff;
  font-size: 28px;
  font-family: Merriweather-Bold;
  font-weight: 700;
  text-align: center;
  line-height: 56px;
  text-align: center;
  margin-top: 43px;
width:128px;
height: 56px;
margin-left: 161px;
margin-right: 161px;
margin-bottom: 0;


 }
 
 .value{
   width: 69px;
   height: 48px;
  color: #BDAE82;
  font-size: 24px;
  font-family: Merriweather-Bold;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  margin-top: 20px;
margin-left: 191px;
margin-right: 190px;
 }

 .text-price{
   width:364px;
   height: 180px;
  color: #ffff;
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  line-height: 36px;
  margin-top: 20px;
  margin-left: 43.33px;
  margin-right: 42.67px;
  
 }
 .string-price{
  display: block;
 }
 .button-price{
  width: 220px;
  height: 55px;
  background-color:#BDAE82;
  font-size: 20px;
  padding-left: 5px;
  line-height: 40px;
  cursor: pointer;
  font-family: Inter;
  color: black;
  font-weight: 400;
  text-align: center;
 }
 .box-button-price{
   margin-top: 40px;
   margin-left: 115px;
   margin-right: 115px;
   margin-bottom: 43px;
 
 }

.text-price2{
  width:364px;
  height: 180px;
  color: #ffff;
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  line-height: 36px;
  margin-top: 20px;
  margin-left: 42.98px;
  margin-right: 43.02px;

}

.h4-price2{
  color: #ffffff;
  font-size: 28px;
  font-family: Merriweather-Bold;
  font-weight: 700;
  text-align: center;
  line-height: 56px;
  text-align: center;
  margin-top: 43px;
width:128px;
height: 56px;
margin-left: 159px;
margin-right: 159px;
margin-bottom: 0;

}

.value2{
  width: 68px;
  height: 48px;
 color: #BDAE82;
 font-size: 24px;
 font-family: Merriweather-Bold;
 font-weight: 700;
 line-height: 48px;
 text-align: center;
 margin-top: 20px;
margin-left: 191px;
margin-right: 190px;
}

.h4-price3{
  color: #ffffff;
  font-size: 28px;
  font-family: Merriweather-Bold;
  font-weight: 700;
  text-align: center;
  line-height: 56px;
  text-align: center;
  margin-top: 43px;
width:67px;
height: 56px;
margin-left: 192px;
margin-right: 191px;
margin-bottom: 0;

}

.value3{
   width: 81px;
   height: 48px;
  color: #BDAE82;
  font-size: 24px;
  font-family: Merriweather-Bold;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  margin-top: 20px;
margin-left: 184px;
margin-right: 185px;
 }

 .text-price3{
  width:364px;
  height: 180px;
  color: #ffff;
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  line-height: 36px;
  margin-top: 20px;
  margin-left: 42.64px;
  margin-right: 43.36px;

 }